<div id="index-banner" class="parallax-container">
<div class="section no-pad-bot">
  <div class="container">
    <br><br>
    <h1 class="header center white-text text-lighten-2">Vote nas suas bandas favoritas!</h1>
    <div class="row center">
      <h5 class="header col s12 light white-text">A Bluesoft <span class="indigo-text">Music</span> está realizando um ranking com as melhores bandas de todos os tempos!                    Quer participar? Então clique no botão abaixo e dê sua opinião!</h5>
    </div>              
    <div ng-controller="MainCtrl" class="row center">
      <a ng-click="go('/votacao')" href="" id="download-button" class="btn-large waves-effect waves-light indigo lighten-1">Votar!</a>
    </div>
    <br><br>

  </div>
</div>        
</div>