<div ng-controller="VotacaoCtrl" class="container">
    <div class="section">
      <div class="progress">          
          <div class="determinate indigo" ng-style="{'width': percentual}"></div>
      </div>
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m5">
          <div class="icon-block">
              
            <div class="card large">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" ng-src="../images/{{bandaUm.fotos[0].caminho}}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">{{bandaUm.nome}}<i class="material-icons right">more_vert</i></span>  

                  
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">{{bandaUm.nome}}<i class="material-icons right">close</i></span>
                  <p>{{ bandaUm.descricao }} <a href="{{bandaUm.urlInformacoes}}" target="_blank">Wikipédia</a></p>
                    
                  <div class="embed-responsive embed-responsive-16by9">    
                    <p><youtube-video class="embed-responsive-item" video-id="bandaUmYoutube" player="yPlayerUm"></youtube-video></p>
                  </div>
                </div>
                <div class="card-action center">
                  <a ng-click="votarBandaUm()" id="download-button" class="btn-large waves-effect waves-light indigo lighten-1 white-text text-center">Votar!</a>
                </div>
              </div>
              
          </div>
        </div>
          
        <div class="col s12 m1">
            <h2 class="center white-text large"><i class="material-icons">close</i></h2>
          </div>

        <div class="col s12 m5">
          <div class="icon-block">
              
            <div class="card large">
                <div class="card-image waves-effect waves-block waves-light">                     
                  <img class="activator" ng-src="../images/{{bandaDois.fotos[0].caminho}}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">{{bandaDois.nome}}<i class="material-icons right">more_vert</i></span>  

                  
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">{{bandaDois.nome}}<i class="material-icons right">close</i></span>
                  <p>{{bandaDois.descricao}} <a href="{{bandaDois.urlInformacoes}}" target="_blank">Wikipédia</a></p>
                    
                  <div class="embed-responsive embed-responsive-16by9">    
                    <p><youtube-video class="embed-responsive-item" video-id="bandaDoisYoutube" player="yPlayerDois"></youtube-video></p>
                  </div>
                </div>
                <div class="card-action center">
                  <a ng-click="votarBandaDois()" id="download-button" class="btn-large waves-effect waves-light indigo lighten-1 white-text text-center">Votar!</a>
                </div>
              </div>
              
          </div>
        </div>

    </div>
  </div>         
    
 <div id="modal" class="modal">
    <div class="modal-content">
      <h4>Enviar votação</h4>
      <p>Preencha as informações para enviar seus votos!</p>
      <div class="row">
        <form class="col s12" data-fv-framework="bootstrap" >
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix black-text">account_circle</i>
              <input id="first_name" ng-model="nome" type="text" class="validate">
              <label for="first_name" class="black-text">Nome</label>
            </div>           
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix black-text">email</i>
              <input id="email" ng-model="email" type="email" class="validate" data-fv-emailaddress="true">
              <label for="email" data-error="Incorreto" data-success="" class="black-text">E-mail</label>
            </div>
          </div>
        </form>
    </div>
    </div>  
        
    <div class="modal-footer">
      <a ng-click="enviarVotacao()" class=" modal-action modal-close waves-effect waves-indigo btn-flat black-text">Enviar</a>
    </div>    
  </div>
    </div>
     
</div>
